@import "../../../style/colors.scss";
@import "../../../style/arrow.scss";

.project-card-wrapper {
  @media only screen and (max-width: 575px) {
    & {
      margin-top: 110px;
      position: relative !important;
      transform: none !important;
      left: 0;
      top: 0;
    }
  }
}

.card {
  flex-direction: row;
  background-color: transparent;

  .list-group-item {
    padding: 0.75rem 0.9rem;
    background-color: transparent;
  }
}
.arrow-right {
  position: absolute;
  top: -30px;
  right: 0;
}

.arrow-left {
  position: absolute;
  top: -30px;
  left: 0;
}

.col-md-6,
.col-sm-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-block {
  margin-top: 0;
}

img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.panel-heading {
  color: $primary;
  font-size: 22px;
}

.lead > strong {
  font-size: 16px;
}

.list-group-item > div {
  justify-content: space-between;

  @media only screen and (max-width: 992px) {
    & {
      text-align: left;
      flex-direction: column;
    }
  }
}

.language-tag {
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  color: $secondary !important;

  &:hover {
    cursor: pointer;
  }
}
