@import "../../../../../assets/style/colors.scss";

/* navbar */
.navbar {
    min-height: 58px;
}
.navbar > .container,
.navbar > .container-fluid {
    justify-content: center !important;
    flex-wrap: nowrap !important;
    padding-top: 10px;
}

.sidebar-icon-container {
    position: absolute;
    left: 15px;
    font-size: 22px;
    display: none;
}

.navbar-logo {
    position: absolute;
    top: 11px;
    left: 30px;
    font-size: 22px;
}

.nav-link {
    padding-top: 0 !important;
}

.nav-link:hover {
    color: $primary !important;
}

.sidebar-item:hover {
    .nav-link, i {
        color: $primary !important;
    }
}

.navbar.navbar.fixed-top.fixed-theme {
    background-color: white;
    border-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.navbar-container.fixed-theme {
    padding: 5px;
}

#navbar {
    #header-items-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 0;
        padding-left: 0 !important;
        list-style: none;

        .header-item {
            text-align: center;
            padding: 0 15px;

            a,
            i {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    // #header-items-container.fixed-theme {
    //     .header-item {

    //         a,
    //         i {
    //             color: $primary;
    //             font-size: 16px;
    //         }

    //         a:hover {
    //             color: grey  !important;
    //         }
    //     }
    // }
}

.theme-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 24px;
}

.active-link {
    color: $primary !important;
    i {
        color: $primary !important;
    }
}


.sidebar-menu-icon {
    background-size: contain;
    width: 20px;
    height: 20px;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;  
    z-index: 9999999 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
    }

    .sidebar-logo {
        // text-align: center;
        // padding-top: 60px;

        img {
            width: 140px;
            height: auto;
            border-radius: 50%;
            border: 5px solid $primary;
        }
    }

    &.active {
        left: 0px;
    }

    .sidebar-theme-btn {
        font-size: 24px;
        padding-left: 30px;
    }

    #sidebar-items {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0;
        padding-left: 0 !important;
        list-style: none;

        .sidebar-item {
            text-align: left;
            padding: 10px 0px;
            line-height: 18px;

            a {
                font-size: 14px;
                font-weight: 500;
            }
            i {
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 875px) {
    #navbar,
    .theme-btn,
    .navbar-logo {
        display: none;
    }
    .sidebar-icon-container {
        display: block;
    }
}
