@import "../style/colors.scss";

.theme {
    color: $secondary !important;
}

body {
    background: white;
}

.expand-more {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background: url("../custom_icons/arrow-down-black.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-image {
    // background: url("../../assets/projects/map-light-min.jpg") no-repeat right bottom fixed; 
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.25)), url(../../assets/projects/map-min.jpg);
}

.theme-btn {
    color: $secondary;
}

.card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.language-tag {
    background: $tag-light;
}
