.progress-bar {
    width: 0;
    animation: progress 3s ease-in-out forwards;
    
    .title {
      opacity: 0;
      animation: show 0.5s forwards ease-in-out 0.5s;
    }
  } 
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }