@import '../../../style/utilities';
.wrapper {
    margin-top: 80px;
    padding: 0 20px;
    .gallery {
        columns: 4;
        -webkit-columns: 4;
        -moz-column: 4;
    }

    .gallery .pics {
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
    }

    .img-fluid {
        border-radius: 5px;
        @extend .hover;
    }

    .gallery .animation {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    @media (max-width: 900px) {
        .gallery {
            columns: 2;
            -webkit-columns: 2;
            -moz-column: 2;
        }
    }

    @media (max-width: 500px) {
        .gallery {
            columns: 1 !important;
            -webkit-columns: 1 !important;
            -moz-column: 1 !important;
        }
    }
}
