<div class="container centered">
  <div class="row card">
    <div class="col-md-6 col-sm-6">
      <img src="{{projectDetails.img}}" alt="Avatar woman">
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="panel">
        <div class="panel-heading text-center pt-1">
          {{projectDetails.name}}
        </div>
        <div class="panel-body text-center">
          <p class="lead">
            <strong class="text-muted">{{projectDetails.subtext}}</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <div class="d-flex"><span>date created:</span><span>{{projectDetails.dateCreated| date}}</span></div>
          </li>
          <li class="list-group-item">
            <div class="d-flex"><span>frameworks/languages:</span>
              <div><span class="language-tag ml-1" *ngFor="let technology  of projectDetails.technologies ;"><a
                    href="{{technology.link}}" target="_blank">{{technology .name}}</a></span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex"><span class="text-justify">description: {{projectDetails.description}}</span></div>
          </li>
        </ul>
        <div class="panel-footer d-flex p-2">
          <a class="btn btn-block btn-primary-outline mr-1" href="#">view source code</a>
          <a class="btn btn-block btn-outline-info" href="#">view project</a>
        </div>
      </div>
    </div>
  </div>
</div>