<div class="container centered">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <img src="{{projectDetails.img}}" alt="Avatar woman">
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="text-center">{{projectDetails.name}}</h4>
        </div>
        <div class="panel-body text-center">
          <p class="lead">
            <strong class="text-muted">{{projectDetails.subtext}}</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited projects</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
        </div>
      </div>
    </div>
  </div>
</div>