<div class="container centered project-card-wrapper">
  <!-- arrow-left -->
  <a class='animated-arrow arrow-left ml-3' *ngIf="projectDetails.id !== 1" (click)="navigateBack(projectDetails.id)">
    <span class='main'>
      <span class='the-arrow -right mr-3' style="transform: rotate(180deg);">
        <span class='shaft'></span>
      </span>
      <span class="theme text">
        previous project
      </span>
    </span>
  </a>
  <!-- arrow-right -->
  <a class='animated-arrow arrow-right mr-3' *ngIf="projectDetails.id !== projects.length"
    (click)="navigateNext(projectDetails.id)">
    <span class='main'>
      <span class="theme text">
        next project
      </span>
      <span class='the-arrow -right'>
        <span class='shaft'></span>
      </span>
    </span>
  </a>
  <div class="row card">
    <div class="col-md-6 col-sm-6">
      <img src="{{projectDetails.img}}" alt="Avatar woman">
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="panel">
        <div class="panel-heading text-center pt-1">
          {{projectDetails.name}}
        </div>
        <div class="panel-body text-center">
          <p class="lead">
            <strong class="text-muted">{{projectDetails.subtext}}</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <div class="d-flex"><span class="theme pb-2">date created:</span><span class="theme">{{projectDetails.dateCreated| date}}</span></div>
          </li>
          <li class="list-group-item">
            <div class="d-flex"><span class="theme pb-2">frameworks/languages:</span>
              <div><span class="language-tag mr-1 theme" *ngFor="let technology  of projectDetails.technologies ;"><a
                    href="{{technology.link}}" target="_blank" class="theme">{{technology .name}}</a></span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex"><span class="text-justify theme">description: {{projectDetails.description}}</span></div>
          </li>
        </ul>
        <div class="panel-footer d-flex p-2">
          <a class="btn btn-block btn-primary-outline mr-1" href={{projectDetails.repoLink}}>view source code</a>
          <a class="btn btn-block btn-outline-info" href={{projectDetails.projectLink}}>view project</a>
        </div>
      </div>
    </div>
  </div>
</div>