@import '../../../../assets/style/colors.scss';

.card {
  flex-direction: row;
  background-color: transparent;

  .list-group-item {
    padding: .75rem 0.90rem;
    background-color: transparent;
  } 
}

.col-md-6, .col-sm-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-block+.btn-block {
  margin-top: 0;
}
  
  img {
    height: 100%;
    width: 100%;
  }

  .panel-heading {
    color: $primary;
    font-size: 22px;
  }

  .lead > strong {
    font-size: 16px;
  }

  .list-group-item > div {
    justify-content: space-between;
  }

  .language-tag {
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    color: $secondary !important;

    &:hover {
      cursor: pointer;
    }
  }

  