<div class="background-image"></div>

<div class="left-side-menu">
    <div class="vl"></div>
    <a href="https://github.com/IvilinStoyanov" target="_blank"> <i class="icofont-github"></i></a>
    <a href="https://www.instagram.com/ivilinstoyanov" target="_blank"><i class="icofont-instagram"></i></a>
    <a href="https://www.facebook.com/ivilin.stoyanov" target="_blank"><i class="icofont-facebook"></i></a>
    <div class="vl"></div>
</div>

<div class="banner-text text-center">
    <h1>Ivilin Stoyanov</h1>
    <h5 class="text-muted">Web Developer <> Web Designer</h5>
</div>

<div class="expand-more"></div>

<canvas class="background"></canvas>