<div class="background-image"></div>

<div class="left-side-menu">
    <div class="vl"></div>
    <a href="https://github.com/IvilinStoyanov" target="_blank" class="theme"> <i class="icofont-github"></i></a>
    <a href="https://www.instagram.com/ivilinstoyanov" target="_blank" class="theme"><i class="icofont-instagram"></i></a>
    <a href="https://www.facebook.com/ivilin.stoyanov" target="_blank" class="theme"><i class="icofont-facebook"></i></a>
    <div class="vl"></div>
</div>

<div class="banner-text text-center">
    <h1 class="theme animated fadeInUp delay-2s">Ivilin Stoyanov</h1>
    <h5 class="text-muted animated fadeInUp delay-2s">Web Developer <> Web Designer</h5>
</div>

<div class="expand-more animated fadeIn delay-2s hover" [routerLink]="['/projects']"></div>

<canvas class="background" style="width: 100%; height: 100%;"></canvas>
