@import "../../../../assets/style/colors.scss";

/* navbar */
.navbar > .container,
.navbar > .container-fluid {
    justify-content: center !important;
    flex-wrap: nowrap !important;
    padding-top: 10px;
}

.navbar-logo {
    position: absolute;
    top: 15px;
    left: 30px;

    img {
        width: 70px;
        height: auto;
    }
}

.nav-link {
    padding-top: 0 !important;
}

.nav-link:hover {
    color: $primary !important;
}

.navbar.navbar.fixed-top.fixed-theme {
    background-color: white;
    border-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.navbar-container.fixed-theme {
    padding: 5px;
}

.navbar.navbar.fixed-top,
.navbar.navbar.fixed-top.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-container,
.header-item {
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#navbar {
    #header-items-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 0;
        padding-left: 0 !important;
        list-style: none;

        .header-item {
            text-align: center;
            padding: 0 15px;

            a,
            i {
                color: $secondary;
                font-size: 16px;
            }
        }
    }

 

    // #header-items-container.fixed-theme {
    //     .header-item {

    //         a,
    //         i {
    //             color: $primary;
    //             font-size: 16px;
    //         }

    //         a:hover {
    //             color: grey  !important;
    //         }
    //     }
    // }
}

.theme-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 24px;
}
