<!-- Fixed navbar -->
<nav id="header" class="navbar fixed-top">
  <div id="header-container" class="container navbar-container">
    <div class="navbar-logo">
      <img src="../../.././../../assets/logo_v2.png">
    </div>
    <div id="navbar">
      <ul id="header-items-container">
        <li class="header-item">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="header-item">
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <a class="nav-link" href="#-me">Portfolio</a>
        </li>
        <li class="header-item">
          <i class="fa fa-tasks" aria-hidden="true"></i>
          <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="header-item">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>