<!-- Fixed navbar -->
<nav id="header" class="navbar fixed-top">
  <div id="header-container" class="container navbar-container">
    <div class="navbar-logo">
      <img src="../../.././../../assets/logo_v2.png">
    </div>
    <div id="navbar">
      <ul id="header-items-container">
        <li class="header-item" *ngFor="let m of menu">
          <a class="nav-link" [routerLink]="[m.link]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">{{m.name}}</a>
        </li>
      </ul>
    </div>
    <i class="icofont-ui-theme theme-btn" (click)="loadTheme()"></i>
  </div>
</nav>