<!-- Fixed navbar -->
<nav id="header" class="navbar fixed-top">
  <div id="header-container" class="container navbar-container">
    <div class="navbar-logo">
      <img src="../../.././../../assets/logo_v2.png">
    </div>
    <div id="navbar">
      <ul id="header-items-container">
        <li class="header-item">
          <a class="nav-link" [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="header-item">
          <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Projects</a>
        </li>
        <li class="header-item">
          <a class="nav-link" [routerLink]="['/skills']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Skills</a>
        </li>
        <li class="header-item">
          <a class="nav-link" [routerLink]="['/contacts']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Contact</a>
        </li>
      </ul>
    </div>
    <i class="icofont-ui-theme theme-btn" (click)="loadTheme()"></i>
  </div>
</nav>