.gallery-block {
  height:250px;
  background-image:url("../../assets/img/categories/theme-category-restorants.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  border-radius:8px;
  position:relative;
  transition:.5s ease;
}

#gallery .row {
  max-width:1200px;
  margin:auto;
}

#gallery {
  text-align:center;
}

.gallery-paragraph {
  font-size:18px;
  padding-top:5px;
  font-weight:600;
  color:rgba(69,68,68,0.78);
}

#offer-text {
  font-size:28px;
  text-align:left;
  font-weight:300;
  max-width:500px;
  padding-left:15px;
  color:rgba(0,0,0,0.71);
}

.gallery-block:hover {
  opacity:0.6;
}

.gallery-block-hidden {
  height:250px;
  opacity:0;
  position:relative;
  border-radius:8px;
  transition:.5s ease;
}

#gallery .gallery-block-hidden:hover {
  background-color:rgba(7,7,7,0.3);
  height:250px;
  opacity:1;
}

#gallery-button-middle {
  background-color:rgb(255,255,255);
  color:rgba(0,0,0,0.9);
  font-size:18px;
  font-weight:bold;
}

#gallery .middle-button {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
}

