.photo-gallery {
  color:#313437;
  background-color:#f4f4f4;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-right:5px;
  padding-left:5px;
}

#image-paragraph {
  color:white;
  font-size:18px;
  background-color:rgba(77,73,67,0.54);
  text-align:center;
  font-weight:100;
}

#image-paragraph:hover {
  background-color:rgba(77,73,67,0.35);
}

#gallery-content a:hover {
  text-decoration:underline;
  color:#ffffff;
}

#gallery-content {
  font-family:'Roboto Condensed', sans-serif;
  background-color:rgba(190,185,221,0.61);
}

