#head {
  width:100%;
  background-color:#edeeee;
  color:#cccaca;
  background-image:url("../../assets/img/background.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  font-family:'Roboto Condensed', sans-serif;
}

#head-content {
  height:735px;
}

#title-head {
  margin-top:-100px;
  font-size:40px;
  font-family:Arvo, serif;
  font-style:normal;
}

@media (min-width: 768px) {
  #title-head {
    font-size:70px;
  }
}

#subtitle {
  font-weight:100;
  font-size:18px;
}

#button-head {
  width:140px;
  font-size:22px;
  margin-top:15px;
  text-shadow:.5px .5px rgba(0,0,0,0.45);
  background-color:rgba(50,40,40,0.34);
  border-radius:20px;
  color:#f2a035;
  border-color:#f2a035;
}

#button-head:hover {
  background-color:rgba(50,40,40,0.4);
}

