.serviceBox {
  padding:10px 0 30px;
  text-align:center;
  background:#f2f2f2;
}

.serviceBox .service-icon {
  padding:0 25px;
}

.serviceBox .service-content {
  padding:0 50px;
  color:#000000;
}

.serviceBox .service-content p {
  font-size:14px;
  text-align:justify;
}

.serviceBox.yellow .service-icon, .serviceBox.yellow:hover .read a {
  background:#f1bb40;
}

.serviceBox.yellow:hover h3 {
  color:#f1bb40;
}

.serviceBox.green .service-icon, .serviceBox.green:hover .read a {
  background:#01a89e;
}

.serviceBox.green:hover h3 {
  color:#01a89e;
}

.serviceBox.pink .service-icon, .serviceBox.pink:hover .read a {
  background:#d66c9a;
}

.serviceBox.pink:hover h3 {
  color:#d66c9a;
}

@media screen and (max-width: 990px) {
  .serviceBox {
    margin-bottom:30px;
  }
}

@media screen and (max-width: 479px) {
  .serviceBox .service-content {
    padding:0 30px;
  }
}

.serviceBox {
  padding:10px 0 30px;
  text-align:center;
  background:#f2f2f2;
  padding-top:0;
}

.serviceBox .service-icon {
  padding:0px 25px;
}

.serviceBox .service-icon a {
  color:#fff;
  font-size:28px;
}

.serviceBox .service-content {
  padding:0 50px;
  color:#6c6060;
}

.serviceBox .service-content h3 {
  font-size:16px;
  text-transform:uppercase;
}

.serviceBox .service-content hr {
  background:#b4b4b4;
  height:1px;
  color:rgba(108,96,96,0.4);
  background-color:rgba(180,180,180,0.2);
}

.serviceBox .service-content p {
  font-size:14px;
  text-align:justify;
}

.serviceBox.yellow .service-icon, .serviceBox.yellow:hover .read a {
  background:#f1bb40;
}

.serviceBox.yellow:hover h3 {
  color:#f1bb40;
}

.serviceBox.green .service-icon, .serviceBox.green:hover .read a {
  background:#01a89e;
}

.serviceBox.green:hover h3 {
  color:#01a89e;
}

.serviceBox.pink .service-icon, .serviceBox.pink:hover .read a {
  background:#d66c9a;
}

.serviceBox.pink:hover h3 {
  color:#d66c9a;
}

@media screen and (max-width: 990px) {
  .serviceBox {
    margin-bottom:30px;
  }
}

@media screen and (max-width: 479px) {
  .serviceBox .service-content {
    padding:0 30px;
  }
}

#service-colum {
  padding-bottom:20px;
}

#offer .h3, h3 {
  padding-top:25px;
}

#offer-heading {
  text-align:center;
  border-bottom:1px solid rgba(241,187,64,0.8);
  border-top:1px solid rgba(214,108,154,0.8);
  border-left:1px solid rgba(241,187,64,0.8);
  border-right:1px solid rgba(214,108,154,0.8);
  max-width:600px;
  margin:0 auto;
  border-radius:8px;
  margin-bottom:45px;
  margin-top:10px;
}

@media (min-width: 576px) {
  #offer-heading {
    text-align:center;
    border-bottom:1px solid rgba(241,187,64,0.8);
    border-top:1px solid rgba(214,108,154,0.8);
    border-left:1px solid rgba(241,187,64,0.8);
    border-right:1px solid rgba(214,108,154,0.8);
    max-width:600px;
    margin:0 auto;
    border-radius:8px;
    margin-bottom:30px;
    margin-top:10px;
  }
}

.row.offer-head-row {
  padding-top:15px;
  padding-bottom:15px;
}

.serviceBox.yellow {
  border-radius:10px;
}

.serviceBox.green {
  border-radius:10px;
}

.serviceBox.pink {
  border-radius:10px;
}

.service-icon {
  border-radius:10px;
}

