#head {
  width:100%;
  background-color:#6793a6;
  color:#ffffff;
  background-image:url("../../assets/img/head-bg-img.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  font-family:'Roboto Condensed', sans-serif;
}

.navbar-light .navbar-brand {
  background-image:url("../../assets/img/brand-logo.png");
  background-position:center;
  background-size:90%;
  background-repeat:no-repeat;
  width:150px;
  height:50px;
}

#title {
  font-weight:300;
}

#subtitle {
  font-weight:400;
  margin-bottom:220px;
}

#hero-bot {
  color:#fff;
}

.p-category {
  font-size:25px;
  margin-bottom:0px;
  font-weight:100;
}

.p-category:hover {
  font-size:25px;
  margin-bottom:0px;
  font-weight:100;
  color:#f1d129;
}

.btn.btn-link.btn-block.arrow-button {
  color:rgb(241,209,41);
  font-size:32px;
}

#hero-bot .container {
  max-width:850px;
  text-align:center;
}

.col.with-border:not(:last-child) {
  border-right:1px solid rgba(255,255,255,0.57);
}

.row.top-row-category {
  margin-bottom:10px;
}

.navbar-light .navbar-nav .nav-link {
  color:#000000;
  font-size:18px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:#f1d13a;
}

#navbar-dropdown {
  color:#f1d129;
}

#navbar-dropdown:hover {
  color:#000000;
}

#navbar-icons {
  font-size:25px;
}

#title-head {
  padding-top:126px;
  font-weight:100;
}

#navbar {
  background-color:#ffffff;
}

