
/* Contact Form */

#contact {
  border-bottom: 1px solid #cccaca;
  padding-bottom: 60px;
}

.form-control {
  background-color: #fff;
  border: none;
  line-height: 3rem;
  border-radius: 2px;
  color: #666666;
  font-size: 1.5rem;
  padding-left: 3.5rem;
  border: 1px solid rgba(207, 207, 207, 0.7);
}

.mail-img {
  width: 360px;
  height: 360px;

}

@media (max-width: 992px) {
  .mail-img {
    display: none;
  }
}

 .icon.align-self-center {
  left: 1.5em;
  font-size: 2rem;
  position: relative;
  color: #666666;
}

.td-form label {
  margin-left: 1em;
}

.td-form h1 {
  padding-bottom: 5px;
}

#btn-contact {
  background-color: #f05f40;
  border: none;
  border-radius: 0px;
  color: #ffffff;
  margin-top: 0;
}

#btn-contact:hover {
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.69),
    0 0 10px rgba(206, 222, 209, 0.69);
}

/* Footer */
.footer-clean {
  padding: 50px 0;
  color: #4b4c4d;
  width: 100%;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

#offer .h3,
h3 {
  padding-top: 25px;
}

.footer-clean {
  background-color: #f8f8ff;
}

/* Row */
.footer-clean .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0;
}

/* subscribe */
.subscribe {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 10px 40px 10px;
}

@media screen and (min-width: 768px) {
  #ewf_subscriptionForm_iRLcTNUqPE.Sticky {
    padding: 0 !important;
  }
  #ewf_subscriptionForm_iRLcTNUqPE.Sticky .headers,
  #ewf_subscriptionForm_iRLcTNUqPE.Sticky fieldset {
    display: inline-block;
    min-width: 20%;
    padding-left: 20px;
    padding-right: 20px;
  }
  #ewf_subscriptionForm_iRLcTNUqPE.Sticky fieldset {
    padding-left: 20px;
    padding-right: 20px;
  }
  #ewf_subscriptionForm_iRLcTNUqPE.Sticky .headers {
    text-align: right;
    min-width: 40%;
  }
  #ewf_subscriptionForm_iRLcTNUqPE.Sticky .webform-options {
    text-align: center;
  }
  #ewf_subscriptionForm_iRLcTNUqPE.Sticky #ewf_formdesc {
    display: none;
  }
  #ewf_subscriptionForm_iRLcTNUqPE.Sticky label {
    position: absolute;
    top: 5px;
  }
  #ewf_subscriptionForm_iRLcTNUqPE.Sticky input {
    line-height: 37px !important;
    padding: 0 20px !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
  }
  #ewf_dismissForm {
    top: 5px !important;
    right: 5px !important;
  }
}
#ewf_subscriptionForm_iRLcTNUqPE {
  font-family: "Open Sans Condensed", arial, sans;
  background: var(--formbg2);
  padding-bottom: 20px;
  box-sizing: border-box;
}
#ewf_subscriptionForm_iRLcTNUqPE.Sticky,
#ewf_subscriptionForm_iRLcTNUqPE.Modal {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
}
#ewf_subscriptionForm_iRLcTNUqPE input:focus {
  outline-style: none;
  box-shadow: none;
}
#ewf_subscriptionForm_iRLcTNUqPE #ewf_formdesc {
  padding: 0 30px;
}
#ewf_subscriptionForm_iRLcTNUqPE .eformmodal {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
#ewf_subscriptionForm_iRLcTNUqPE h4 {
  margin: 0;
  padding: 24px 30px;
  background: var(--formbg1);
  /* formbg*/
  color: #ffffff;
  text-transform: uppercase;
}
#ewf_subscriptionForm_iRLcTNUqPE fieldset,
#ewf_subscriptionForm_iRLcTNUqPE #ewf_formheading {
  padding: 0 30px;
}
#ewf_subscriptionForm_iRLcTNUqPE label {
  color: var(--text);
}
#ewf_subscriptionForm_iRLcTNUqPE .inputs input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid var(--text);
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  transition: 0.3s all;
  border-radius: 0;
}
#ewf_subscriptionForm_iRLcTNUqPE .inputs input:hover {
  border-bottom: 1px solid var(--formbg1);
}
#ewf_subscriptionForm_iRLcTNUqPE input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
#ewf_subscriptionForm_iRLcTNUqPE input::placeholder {
  color: var(--input);
}
#ewf_subscriptionForm_iRLcTNUqPE input[type="submit"] {
  background-color: var(--buttonbg);
  border: 1px solid var(--buttonbg);
  width: auto;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
}
#ewf_dismissForm {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  background: var(--buttonbg);
  font-weight: 800;
  border: 0 !important;
}
#ewf_subscriptionForm_iRLcTNUqPE .webform-lists li {
  display: block;
  overflow: auto;
  padding: 5px 0;
}
#ewf_subscriptionForm_iRLcTNUqPE .webform-lists li * {
  margin: 0 0 0 0 !important;
  padding-right: 10px;
}
#ewf_subscriptionForm_iRLcTNUqPE .webform-lists input {
  display: inline-block;
  height: 1em;
  width: 1em;
  -webkit-appearance: checkbox !important;
}
#ewf_subscriptionForm_iRLcTNUqPE .webform-lists label {
  height: auto;
  color: var(--text);
}
#ewf_subscriptionForm_iRLcTNUqPE .lists input:before {
  content: "" !important;
  display: none;
}

#ewf_subscriptionForm_iRLcTNUqPE {
  --formbg1: #f26c4f;
  /* formbg*/
  --formbg2: #ffffff;
  /* formbg*/
  --text: #4d4d4d;
  /* labels & text */
  --input: #4d4d4d;
  /* inputs */
  --inputbg: #ffffff;
  /* inputbg */
  --buttonbg: #f26c4f;
  /* submitbg and dismissbg */
}

#ewf_subscriptionForm_iRLcTNUqPE .inputs label {
  display: none !important;
}

#ewf_subscriptionForm_uBsdqGEIna :-moz-placeholder {
  /* Firefox 18- */
  color: #868e96;
  font-size: 14px;
}

#ewf_datadisclaimer {
  font-size: 12px;
  color: #868e96;
  text-align: justify;
}
