<section id="resume" class="resume">
  <div class="container">
    <div class="row justify-content-center" >
      <div class="col-lg-6 col-sm-10">
        <h3 class="resume-title theme">Professional Experience</h3>
        <div class="resume-item">
          <h4 class="theme">Web Developer</h4>
          <h5 class="theme">2019-Present</h5>
          <p><em class="theme">eDynamix Bulgaria, Stara Zagora</em></p>
          <ul>
            <li class="theme">Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
            <li class="theme">Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
            <li class="theme">Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
            <li class="theme">Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4 class="theme">Web Developer - Intern</h4>
          <h5 class="theme">2019-2019</h5>
          <p><em class="theme">eDynamix Bulgaria, Stara Zagora</em></p>
          <ul>
            <li class="theme">Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
            <li class="theme">Managed up to 5 projects or tasks at a given time while under pressure</li>
            <li class="theme">Recommended and consulted with clients on the most appropriate graphic design</li>
            <li class="theme">Created 4+ design presentations and proposals a month for clients and account managers</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>