<section id="skills" class="skills section-bg zoom-large data-close controls-close set-speed view-3D">
  <div class="container">
    <div class="section-title">
      <h2 class="theme">PROGRAMMING LANGUAGES & TOOLS</h2>
      <p class="theme">Below you can see the different programming languages and tools
        that I learned over the years in both professional and free time.</p>
    </div>
    <div class="row skills-content mb-4">
      <div class="gap col-lg-4 col-md-3" *ngFor="let skill of skills">
        <div class="card justify-content-between" style="
        display: flex;
        flex-direction: row;
        height: 60px;
        line-height: 60px;
    ">
          <img class="skill-image ml-2 mb-1" [src]="skill.img">
          <span class="skill theme text-center text-muted">{{skill.name | uppercase}}</span>
          <i class="icofont-check-alt theme mr-2" style="color:rgb(61, 158, 61) !important; font-size: 35px; line-height: 60px;"></i>
        </div>
      </div>
    </div>
    <div class="container p-0 text-muted">
      <h6>Queued</h6>
    </div>
    <div class="row skills-content mb-5">
      <div class="gap col-lg-4 col-md-3" *ngFor="let skill of queuedSkills">
        <div class="card justify-content-between" style="
        display: flex;
        flex-direction: row;
        height: 60px;
        line-height: 60px;"
        >
          <img class="skill-image ml-2 mb-1" [src]="skill.img">
          <span class="skill theme text-center">{{skill.name | uppercase}}</span>
          <i class="icofont-check-alt theme mr-2" style="color:rgb(61, 158, 61) !important; font-size: 35px; line-height: 60px;"></i>
        </div>
      </div>
    </div>
  </div>
</section>
