<section id="skills" class="skills section-bg zoom-large data-close controls-close set-speed view-3D">
  <div class="container">
    <div class="section-title">
      <h2 class="theme">PROGRAMMING LANGUAGES & TOOLS</h2>
      <p class="theme">Below you can see the different programming languages and tools
        that I learned over the years in both professional and free time.</p>
    </div>
    <div class="row skills-content mb-4">
      <ng-container *ngFor="let skill of skills">
        <div *ngIf="!skill.queued" class="gap col-lg-4 col-md-6">
          <div class="card flex-direction-row justify-content-between align-items-center">
            <img class="skill-image ml-2 mb-1" src="{{imagePath + skill.img}}">
            <span class="skill theme text-center text-muted">{{skill.name | uppercase}}</span>
            <i class="icofont-check-alt text-primary mr-2" [style.font-size.px]="35"></i>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="container p-0 text-muted">
      <h6>Queued</h6>
    </div>
    <div class="row skills-content mb-5">
      <ng-container class="gap col-lg-4 col-md-6" *ngFor="let skill of skills">
        <div *ngIf="skill.queued" class="gap col-lg-4 col-md-6">
          <div class="card flex-direction-row justify-content-between align-items-center">
            <img class="skill-image ml-2 mb-1" src="{{imagePath + skill.img}}">
            <span class="skill theme text-center">{{skill.name | uppercase}}</span>
            <i class="icofont-check-alt text-primary mr-2" [style.font-size.px]="35"></i>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
