<section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section-title">
      <h2 class="theme">PROGRAMMING LANGUAGES & TOOLS</h2>
      <p class="theme">Below you can see the different programming languages and tools
        that I learned over the years in both professional and free time.</p>
    </div>
    <div class="row skills-content mb-4">
      <div class="gap col-lg-2 col-md-3" *ngFor="let skill of skills">
        <div class="card">
          <img class="skill-image mb-1" [src]="skill.img">
          <span class="skill theme text-center text-muted">{{skill.name | uppercase}}</span>
        </div>
      </div>
    </div>
    <div class="container p-0 text-muted">
      <h6>Queued</h6>
    </div>
    <div class="row skills-content mb-5">
      <div class="gap col-lg-2 col-md-3 col-xs-6" *ngFor="let skill of queuedSkills">
        <div class="card">
          <img class="skill-image" [src]="skill.img">
          <span class="skill theme text-center">{{skill.name | uppercase}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
