@import '../.././../style/colors.scss';

#skills {
  margin-top: 100px;

  .skill-image {
    height: 120px;
    width: 105px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0 auto;
  }

  .gap {
    padding: 5px 5px 0px 5px;
  }
}
