/* You can add global styles to this file, and also import other style files */
@import 'assets/style/colors.scss';

/* scrollbar on chrome */
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 6px;

}
 
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: $primary;
}