/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

/* theme imports */
@import 'assets/style/theme/section.scss';
@import "assets/style/colors.scss";

* {
    transition: all 0.4 ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

html {
    height: 100%;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

/*** GLOBALS ***/
.flyout {
    z-index: 1040 !important;
    padding: 10px !important;
    height: 100% !important;
}

/* buttons */
button:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.btn-primary {
    background: $primary !important;
    border-color: $primary !important;
    font-size: 15px !important;
    * {
        color: white !important;
    }
    i {
        font-size: 18px !important;
    }
}

.btn-primary-outline {
    border-color: $primary !important;
    background-color: transparent !important;
    color: $primary !important;

    &:hover {
        background-color: $primary !important;
        color: white !important;
    }
}

.btn-outline-info {
    color: #17a2b8 !important;

    &:hover {
        color: white !important;
    }
}

/* badges */
.badge-primary {
    background-color: $primary;
    margin-left: 3px;
}

/* utilities */
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px !important;
        margin: 1.75rem auto;
    }
}

.hover {
    cursor: pointer;
    outline: none;
}

.text-wrap {
    overflow-wrap: break-word;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.background-image {
    transition: all 0.8s ease !important;
    -webkit-transition: all 0.8s ease !important;
    -moz-transition: all 0.8s ease !important;
    -ms-transition: all 0.8s ease !important;
    -o-transition: all 0.8s ease !important;
}

/* scrollbar on chrome */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: $primary;
}