/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

@import "assets/style/colors.scss";

html {
    height: 100%;
}

html,
body {
    font-family: "Ubuntu", sans-serif;
}
/*** GLOBALS ***/

/* buttons */
.btn-primary-outline {
    border-color: $primary;
    background-color: transparent;
    color: $primary;

    &:hover {
        background-color: $primary;
        color: white;
    }
}

.btn-outline-info {
    color: #17a2b8 !important;

    &:hover {
        color: white !important;
    }
}
/* buttons */

/* utilities */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* utilities */

/* scrollbar on chrome */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: $primary;
}


