<!-- Fixed navbar -->
<nav id="header" class="navbar fixed-top">
  <div id="header-container" class="container navbar-container" [hidden]="isSidebarOpen">
    <div class="navbar-logo theme">
      .portfolio
    </div>
    <div id="navbar">
      <ul id="header-items-container">
        <li class="header-item" *ngFor="let m of menu">
          <a class="nav-link theme" [routerLink]="[m.link]" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}">{{m.name}}<span class="badge badge-primary">{{m.count}}</span></a>
        </li>
      </ul>
    </div>
    <i class="icofont-ui-theme theme-btn theme" (click)="changeTheme()"></i>
  </div>
  <div class="sidebar-icon-container">
    <div class="sidebar-menu-icon"  (click)="toggleSidebar()"></div>
  </div>
</nav>
<!-- sidebar -->
<div class="sidebar theme-bg" [class.active]="isSidebarOpen">
  <!-- close button -->
  <i class="icofont-close-line close-btn theme hover" (click)="closeSidebar()"></i>
  <!-- logo -->
  <div class="sidebar-logo text-center mt-5 mb-4">
    <img src="../../.././../../assets/me.jpg">
  </div>
  <div class="sidebar-container">
    <hr>
    <ul id="sidebar-items">
      <li class="sidebar-item d-flex" *ngFor="let m of sidebar">

        <a class="nav-link theme" [routerLink]="[m.link]" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}" (click)="closeSidebar()">
          <i class="{{m.icon}} theme mr-2"></i>
          {{m.name}}<span class="badge badge-primary">{{m.count}}</span></a>

      </li>
    </ul>
  </div>
  <span class="text-muted ml-3">Action</span>
  <div class="text-center">
  <button class="btn btn-primary mt-2 p-2" (click)="changeTheme()">
    Change theme
  <i class="icofont-ui-theme sidebar-theme-btn"></i>
</button>
</div>
</div>
<!-- sidebar -->
